@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root {
	--body: #f2f0ee;
	--white: #fff;
	--black: #000;
	--text-color: #4a4a4a;
}

body.dark {
	--body: #000;
	--white: #0f0f0f;
	--black: #fff;
	--text-color: #d1d1d1;
}

body {
	background-color: var(--white);
	color: var(--text-color);
	transition: 0.3s ease-in-out;
}

/* Hero */

.bg-section {
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.hero-header {
	height: 90vh;
}

.hero-header::after {
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

.bg-section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-image: url(/Images/white-abstract-texture-background.jpg);
	opacity: 0.12;
	pointer-events: none;
	z-index: -1;
}

.dark .bg-section::after {
	opacity: 0.2;
}

.bg-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: var(--white);*/
	z-index: -1;
}

/* Nav */
nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1% 12%;
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo h1 {
	font-size: 1rem;
	font-weight: 900;
	color: var(--text-color);
}

.logo button {
	background-color: #fff;
	padding: 8px 25px;
	border: none;
	box-shadow: 0 0 5px #d1d0d0;
	border-radius: 50px;
	transition: 0.3s;
	cursor: pointer;
}

.logo button:hover {
	background-color: #000;
	color: #fff;
}
