@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins';
	text-decoration: none;
	list-style: none;
}

:root {
	--body: #f2f0ee;
	--white: #fff;
	--black: #000;
	--text-color: #4a4a4a;
}

body.dark {
	--body: #000;
	--white: #0f0f0f;
	--black: #fff;
	--text-color: #d1d1d1;
}

body {
	background-color: var(--white);
	color: var(--text-color);
	transition: 0.3s ease-in-out;
}

/* Hero */

.bg-section {
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.hero-header {
	height: 90vh;
}

.hero-header::after {
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

.bg-section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/Images/white-abstract-texture-background.jpg);
	opacity: 0.12;
	pointer-events: none;
	z-index: -1;
}

.dark .bg-section::after {
	opacity: 0.2;
}

.bg-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: var(--white);*/
	z-index: -1;
}

/* Nav */
nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1% 12%;
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo h1 {
	font-size: 1rem;
	font-weight: 900;
	color: var(--text-color);
}

.logo button {
	background-color: #fff;
	padding: 8px 25px;
	border: none;
	box-shadow: 0 0 5px #d1d0d0;
	border-radius: 50px;
	transition: 0.3s;
	cursor: pointer;
}

.logo button:hover {
	background-color: #000;
	color: #fff;
}

.menu {
	display: flex;
	align-items: center;
	gap: 10px;
}

.menu li a {
	color: var(--text-color);
	font-size: 1rem;
}

.menu li a:hover {
	color: var(--black);
}

.menu-icon {
	opacity: 0;
}

.mode i {
	width: 40px;
	height: 40px;
	border: 1px solid rgba(131, 131, 131, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	background-color: var(--black);
	color: var(--white);
	transition: 0.3s;
}

.mode i:hover {
	background-color: var(--white);
	color: black;
	box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
}

.menu-icons-wrap {
	display: flex;
	align-items: center;
	gap: 10px;
}

.menu-icon-wrap .mode {
	opacity: 0;
}

main {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main .user-image {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border: 5px solid #fff;
	border-radius: 50%;
}

main .user-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main .hero-img {
	position: relative;
}

main .hero-img h2 {
	position: absolute;
	top: 20%;
	right: -65%;
	background-color: var(--white);
	color: var(--black);
	padding: 5px 20px;
	border-radius: 50px;
	font-size: 1rem;
	font-weight: 600;
	animation: floatBubble 4s ease-in-out infinite;
}

main .hero-img h2:last-child {
	top: 50%;
	right: -85%;
	animation-delay: 1s;
}

@keyframes floatBubble {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(5px, -6px);
	}
	50% {
		transform: translate(-5px, 4px);
	}
	75% {
		transform: translate(3px, -3px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.hero-content {
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-content h1 {
	font-size: 4rem;
	line-height: 4.5rem;
	font-weight: 500;
	text-align: center;
	width: 80%;
	margin: 20px 0;
}

.hero-content button {
	background-color: var(--black);
	color: #fff;
	border: none;
	padding: 20px 40px;
	border-radius: 50px;
	color: var(--white);
	font-size: 1rem;
	box-shadow: 0 0 5px #d1d0d0;
	transition: 0.3s;
	cursor: pointer;
}
/* Brands */

.brands {
	background-color: var(--white);
	width: 100%;
	padding: 3% 3%;
	position: relative;
	z-index: 2;
}

.brands:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(Images/white-abstract-texture-background.jpg);
	background-size: contain;
	opacity: 0.3;
	z-index: -1;
}

.brands:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white);
	z-index: 1;
	border-radius: 0 0 200px 200px;
}

.brands .brands-swiper {
	width: 100%;
}

.brand-img {
	width: 250px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.brand-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.7;
	transition: 0.3s;
	cursor: pointer;
}

.brand-img:hover img {
	opacity: 1;
}

.dark .brand-img img {
	filter: invert(1);
}

.hero-content button:hover {
	background-color: var(--white);
	color: var(--black);
}

/* Services */

.service {
	padding: 5% 12%;
}

.service-top {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.service-top h1 {
	width: 75%;
	font-size: 3rem;
	font-weight: 500;
}

.service-middle {
	margin: 50px 0;
	text-align: center;
	position: relative;
	z-index: 1;
}

.service-middle p {
	display: inline-block;
	padding: 15px;
	background-color: var(--white);
	font-size: 1.1rem;
	font-weight: 500;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(131, 131, 131, 0.3);
	transform: rotate(10deg);
	letter-spacing: 1px;
}

.service-middle:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 100%;
	height: 1px;
	background-color: rgba(131, 131, 131, 0.3);
	z-index: -1;
}

.service-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.service-card {
	display: flex;
	flex-direction: column;
}

.service-card img {
	width: 50px;
	height: 50px;
	opacity: 0.8;
}

.dark .service-card img {
	filter: invert(100%);
}

.service-card h2 {
	font-size: 1.5rem;
	margin: 10px 0;
	font-weight: 500;
}

/* Footer */

footer {
	padding: 5% 12%;
	padding-bottom: 0;
}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-img {
	z-index: 1;
}

.footer-img {
	width: 150px;
	height: 150px;
	background: linear-gradient(
		0deg,
		rgba(132, 132, 132, 0) 0%,
		rgba(195, 195, 195, 1) 100%
	);
	display: flex;

	align-items: center;
	justify-content: center;
	border-radius: 100%;
	z-index: -1;
}

.footer-img img {
	opacity: 0.8;
}

.footer-content h1 {
	font-size: 4rem;
	line-height: 4.5rem;
	font-weight: 500;
	width: 50%;
	text-align: center;
	margin: 20px 0;
}

.footer-btn {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 10px;
}

.footer-btn button {
	padding: 15px 25px;
	border-radius: 50px;
	border: 1px solid rgba(131, 131, 131, 0.5);
	cursor: pointer;
	transition: 0.3s;
}
.footer-btn button:first-child {
	background-color: var(--black);
	color: var(--white);
}
.dark .footer-btn button:hover {
	background-color: var(--white);
	color: var(--black);
}

.footer-btn button:first-child:hover {
	background-color: var(--white);
	color: var(--black);
}

.footer-bottom {
	text-align: center;
	padding: 2% 0;
	margin-top: 3%;
	border-top: 1px solid rgba(131, 131, 131, 0.3);
}

.footer-bottom p a {
	color: var(--black);
	font-weight: 600;
}

/* RWD section */

@media (max-width: 1300px) {
	.hero-content {
		width: 70%;
	}
	main {
		height: 90%;
	}
}

@media (max-width: 991px) {
	nav {
		padding: 10px 12%;
		background-color: #fff;
		position: relative;
	}

	.logo h1 {
		color: #000;
	}

	.menu-icon {
		display: block;
		z-index: 9999;
		position: relative;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(131, 131, 131, 0.5);
		border-radius: 5px;
		opacity: 1;
		font-size: 1.5rem;
		color: #000;
	}

	.mode i {
		border-radius: 5px;
		width: 50px;
		height: 50px;
		font-size: 1.5rem;
	}

	.menu-icons-wrap .mode {
		opacity: 0;
	}

	#closeMenu {
		display: none;
	}

	.menu {
		position: absolute;
		top: 100%;
		display: flex;
		left: 0;
		z-index: 999;
		height: 0;
		overflow: hidden;
		opacity: 0;
		background-color: #fff;
		flex-direction: column;
		align-items: stretch;
		padding: 10px 12%;
		gap: 15px;
		border-top: 1px solid #ddd;
		transition: 0.3s;
	}

	.menu li a {
		color: #000;
	}

	.menu .mode {
		display: none;
	}

	.menu.show {
		height: 150px;
		opacity: 1;
	}

	.service-top h1 {
		width: 100%;
	}

	.service-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.service:after {
		border-radius: 100px;
	}

	.footer-content h1 {
		width: 80%;
	}
}

@media (max-width: 767px) {
	.hero-content {
		width: 100%;
	}
	main {
		height: 90%;
	}

	.service-top h1 {
		font-size: 2rem;
	}

	.footer-content h1 {
		width: 100%;
	}
}

@media (max-width: 575px) {
	.hero-content h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}

	.logo button {
		display: none;
	}

	.brand-img {
		width: 200px;
		height: 150px;
	}

	.service {
		padding-top: 15%;
		padding-bottom: 10%;
	}

	.service-top h1 {
		font-size: 1.5rem;
		width: 100%;
	}

	.service-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.footer-content h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}
